/* Author: Samantha - Welcome to my project */

* {
  background-color: antiquewhite;
  color: rgb(231, 113, 133);
  font-family: Arial, Helvetica, sans-serif;
}

/* Use bootstrap to help with css */

.bg {
}
